.iframeContainer {
    padding: 20px;
    border: 1px solid #e3e3e3;
}


/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Padding bottom by footer height */
    /* background-image: url("home.jpg"); */
    padding-bottom: 80px;
    /* Used to enable scrolling */
}


/* PA PA PA PARALLAX */

.parallax {
    /* The image used */
    background-image: url("politics_dark.jpg");
    /* Set a specific height */
    min-height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    width: 600px;
    padding: 5px;
}

h1 {
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-family: Futura, "Trebuchet MS", Arial, sans-serif; */
    /* font-family: 'Yantramanav', sans-serif; */
}

h4 {
    text-align: center;
    font-size: small;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-family: Futura, "Trebuchet MS", Arial, sans-serif; */
    /* font-family: 'Yantramanav', sans-serif; */
}

h3,
h2 {
    text-align: center;
    color: #ffffff;
    font-family: 'Yantramanav', sans-serif;
    padding: 10px;
    padding-bottom: 5%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #f5f5f5;
}

#footer p {
    margin: 0;
    font-size: 16px;
}


/* path {
    stroke: #fff;
    position: absolute;
} */


/* DASHBOARD STYLING */

path:hover {
    opacity: 0.9;
}

rect:hover {
    fill: #ffccad;
}


/* i liked this color but nah -> #e5ff00 */

.axis {
    font: 10px sans-serif;
}


/* Centering the vizzes */

svg {
    display: block;
    margin: auto;
}


/* DASH LEGEND */

.legend tr {
    border-bottom: 1.3px solid #000000;
    display: block;
}

.legend tr:first-child {
    border-top: 1.3px solid #000000;
    display: block;
    margin: auto;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.legend {
    margin-bottom: 100px;
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 100px;
    position: relative;
    margin: auto;
    padding: 5px 530px;
    text-align: center;
}

.legend tbody,
td {
    padding: 4px 5px;
    margin: auto;
    vertical-align: center;
}

.legendFreq,
.legendPerc {
    position: center;
    width: 50px;
}