<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Bootstrap Components -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- VISUALIZATION DEPENDENCIES -->
    <script src="{{ url_for('static', filename='js/wordcloud/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/wordcloud/bower_components/d3/d3.js') }}"></script> -->


    <!-- STEAMGRAPH -->
    <!-- <script src="https://d3js.org/d3.v4.js"></script> -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="{{ url_for('static', filename='js/wordcloud/bower_components/d3.layout.cloud/d3.layout.cloud.js') }}"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- <style>
    </style> -->

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="#">US Politician's Twitter Sentiment Analysis</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="{{ url_for('scatter_plot') }}">Scatter Plot</a></li>
                    <li><a href="{{ url_for('get_form') }}">Try It</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- THE WORDCLOUD -->
    <div class="my_svg"></div>
    <!-- wordcloud js -->
    <script src="{{ url_for('static', filename='js/wordcloud/easywordcloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wordcloud/demo.js') }}"></script>


    <!-- THE STEAMGRAPH -->
    <div id="my_dataviz"></div>
    <!-- stream js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/streamgraph/stream.js') }}"></script>



    <!-- THE DASHBOARD -->
    <div id="dashboard"></div>
    <!-- dashboard js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/dash/dash.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dash/demo.js') }}"></script>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>