<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <!-- Bootstrap Components -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- CSS STYLING -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-tryit.css') }}">

    <title>User Sentiment</title>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">NLP Sentiment Analysis</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!-- <li class="active"><a href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a></li> -->
                    <li><a href="{{ url_for('tweetreport') }}" target="_blank">Pandas Report</a></li>
                    <li><a href="{{ url_for('stream') }}">Polarity Stream</a></li>
                    <li><a href="{{ url_for('get_text') }}">Try It</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WordCloud<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('wordcloud') }}">Tokenization</a></li>
                            <li><a href="{{ url_for('politic') }}">Candidates Top Words</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="parallax">
        <br>
        <h1>Try our Sentiment Analysis Yourself</h1>
    </div>
    <br>
    <h4>Create your own word cloud or hit click run to get a sentiment score for your tweet.</h4><br>

    <!-- USER WORDCLOUD -->
    <div id="my_dataviz"></div>

    <!-- FORM -->
    <div class="container">
        <div class="col-md-10 justify-content-center">
            <div class="panel-heading"></div>

            <form action="{{url_for('post_text')}}" method="POST">
                <div class="form-group">
                    <ul class="list-group" id="filters">
                        <label>Enter a Tweet</label>
                        <input class="form-control" id="tweetfield" type="text" placeholder="Copy & Paste or Write Your Own Tweet" name="text_entry">
                    </ul>
                    <button id="input-btn" type="reset" class="btn btn-default" onClick="return false">Cloud</button>
                </div>
                <input type="submit" value="Run" class="btn btn-default">
            </form>
        </div>
    </div>
    <br>
    <br>

    <script>
        /* input tweet */
        var inputField = d3.select("#tweetfield");
        var inputbutton = d3.select("#input-btn");
        // trigger data change when new tweet is entered.
        inputField.on("change", function() {
            var inputtweet = d3.event.target.value;
            inputbutton.on("click", function() {
                d3.select("svg").remove();
                wordcloud(inputtweet)
            });
        });

        function wordcloud(inputtweet) {
            console.log(inputtweet)
            var myWords = inputtweet.split(" ");
            // console.log(words)
            // set the dimensions and margins of the graph
            var margin = {
                    top: 10,
                    right: 10,
                    bottom: 10,
                    left: 10
                },
                width = 900 - margin.left - margin.right,
                height = 500 - margin.top - margin.bottom;
            // append the svg object to the body of the page
            var svg = d3.select("#my_dataviz").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

            // Constructs a new cloud layout instance. It run an algorythm to find the position of words that suits your requirements
            var layout = d3.layout.cloud()
                .size([width, height])
                .words(myWords.map(function(d) {
                    return {
                        text: d
                    };
                }))
                .padding(10)
                .fontSize(60)
                .on("end", draw);
            layout.start();

            // This function takes the output of 'layout' above and draw the words
            // Better not to touch it. To change parameters, play with the 'layout' variable above
            function draw(words) {
                svg
                    .append("g")
                    .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
                    .selectAll("text")
                    .data(words)
                    .enter().append("text")
                    .style("font-size", function(d) {
                        return d.size + "px";
                    })
                    .attr("text-anchor", "middle")
                    .attr("transform", function(d) {
                        return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                    })
                    .text(function(d) {
                        return d.text;
                    });
            };
        };
    </script>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>