<!doctype html>
<html>

<head>
    <title>Collective Politician Cloud</title>
    <meta charset="UTF-8">

    <!-- Bootstrap Components -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="../static/js/wordcloud/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/js/wordcloud/bower_components/d3/d3.js"></script>
    <script src="../static/js/wordcloud/bower_components/d3.layout.cloud/d3.layout.cloud.js"></script>

    <script src="../static/js/wordcloud/wordcloud.js"></script>
    <script src="../static/js/wordcloud/alldata_words.js"></script>

    <!-- THE CSS STYLING -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-wordcloud.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:900&display=swap" rel="stylesheet">
</head>

<body>
    <!-- NAVBAR NAVBAR -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">NLP Sentiment Analysis</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('tweetreport') }}" target="_blank">Pandas Report</a></li>
                    <li><a href="{{ url_for('stream') }}">Polarity Stream</a></li>
                    <li><a href="{{ url_for('get_text') }}">Try It</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">WordCloud<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('wordcloud') }}">Tokenization</a></li>
                            <li><a href="{{ url_for('politic') }}">Candidates Top Words</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <p>
        <h1 color="#000000">Tokenizing the of Most Tweeted</h1>
        <h1 color="#000000">Words of US Politicians</h1><br>
    </p>
    <!-- WOORDCLOOUUUD -->
    <div class="my_svg"></div>

    <!-- PARALAX TWITTER BRIDS -->
    <div class="parallax"></div>
    </br>
    </br>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>