<!doctype html>
<html>

<head>
    <title>EasyWordCloud</title>
    <meta charset="UTF-8">

    <script src="../static/js/wordcloud/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/js/wordcloud/bower_components/d3/d3.js"></script>
    <script src="../static/js/wordcloud/bower_components/d3.layout.cloud/d3.layout.cloud.js"></script>

    <script src="../static/js/wordcloud/easywordcloud.js"></script>
    <script src="../static/js/wordcloud/demo.js"></script>
</head>

<body>
    <div class="my_svg"></div>
</body>

</html>